<div id="new-field">
  <form action="/contacts" method="post">
    <div class="input-field">
      <input type="text" name="first_name" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field">
      <input type="text" name="last_name" class="validate">
      <label for="last_name">Last Name</label>
    </div>
    <div class="input-field">
      <input type="text" name="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="text" name="address" class="validate">
      <label for="address">Address</label>
    </div>
    <div class="input-field">
      <input type="text" name="avatar" class="validate">
      <label for="avatar">Avatar</label>
    </div>
    <span class="btn blue lighten-2">+</span>
    <button class="btn blue right lighten-2">Save</button>
  </form>
</div>